//<!-- Start -->
.start {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Nunito, sans-serif;
}

.start-title {
  margin-top: 56px;
  max-width: 811px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #2c2c38;
  margin-bottom: 43px;
  @media (max-width: 767px) {
    margin: 86px 0 27px;


  }
}

.start-title_up {
  font-size: 85px;
  font-weight: 900;
  letter-spacing: -1.7px;
  line-height: 64px;
  width: 70%;
  text-align: center;
  @media (max-width: 1023px) {
    font-size: 64px;

  }
  @media (max-width: 767px) {
    font-size: 27px;
    line-height: 24px;
    width: 170px;


  }
}

.start-subtitle {
  margin-top: 20px;
  font-size: 28px;
  letter-spacing: -0.6px;
  text-align: center;
  @media (max-width: 1023px) {
    font-size: 20px;

  }
  @media (max-width: 767px) {
    font-size: 17px;


  }
}

.block {
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 767px) {


  }
}

.block__start {
  background: url("../images/content/start/start_bg.png") no-repeat center;
  background-size: cover;


}

.start-main {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  @media (max-width: 767px) {
    max-width: 320px;
    width: 100%;
    padding: 30px 0 40px;


  }

}

.start-bg {
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 38px;

  & img {
    width: 100%;
  }

  @media (max-width: 767px) {
    display: none;


  }

}

.start-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    flex-flow: column;


  }

}

.start-element {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    flex-flow: row;
    align-self: flex-start;
    margin-top: 5px;


  }

  &:hover {
    cursor: pointer;

    & .start-element_block-img_wrapper {
      background-color: #e0e5f1;

    }

    & .start-element__text {
      color: #a9b1c5;

      & span {
        color: #a9b1c5;
      }
    }
  }

}

.start-element_block-img_wrapper {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background-color: #954090;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 0.3s;
  @media (max-width: 767px) {
    width: 36px;
    height: 36px;


  }
}

.start-element_block-img {
  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
    & img {
      width: 100%;
    }
  }
}

.start-element__text {
  color: #2c2c38;
  font-size: 20px;
  letter-spacing: -0.4px;
  font-weight: 700;
  margin-top: 14px;
  transition: ease-in-out all 0.3s;

  & span {
    color: #954090;
    transition: ease-in-out all 0.3s;
  }

  @media (max-width: 767px) {
    margin: 0 0 0 17px;

  }

}

.btn__purple {

  padding: 25px 0;
  border-radius: 8px;
  background-color: #954090;
  transition: ease-in-out all 0.3s;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.7;


  }

}

.start-btn {
  padding: 20px 0;
  color: #FFFFFF;
  max-width: 256px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  @media (max-width: 767px) {
    width: 100%;
    max-width: unset;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;

  }

}

.start-email {
  margin-top: 60px;
  color: #2c2c38;
  font-size: 18px;
  font-weight: 500;

  & span {
    font-weight: 700;
  }

  @media (max-width: 767px) {
    margin-top: 26px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.3px;


  }

}

.start-btn {
  margin-top: 23px;
}

//<!-- / Start -->

//<!--  Work -->

.block__work {
  max-width: 1100px;
  width: 100%;
  color: #2c2c38;
  font-family: Nunito, sans-serif;
}

.work-title__part {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.work-title {
  font-size: 85px;
  line-height: 65px;
  letter-spacing: -1.7px;
  font-weight: 900;
  text-align: center;

  & span {
    color: #954090;
  }

}

.work-subtitle {
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
}

.work-title__select-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 90px;
  width: 100%;

}

.work-title__flag {
  width: 33px;
  height: 33px;
  border: 3px solid transparent;
  transition: ease-in-out all 0.3s;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    border: 3px solid #954090;

  }

}

.work-title__btn {
  margin-top: 17px;
  max-width: 256px;
  width: 100%;
  background-color: #28aae2;
  border-radius: 8px;
  padding: 20px 0;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: -0.36px;
  border: none;
  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &:hover {
    opacity: 0.7;
  }

}

.block__work-bg {
  margin-top: 100px;
  background: url("../images/content/start/start_bg.png") no-repeat center;
  background-size: cover;
  font-family: Nunito, sans-serif;
  color: #2c2c38;
  position: relative;
}

.work-plus {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 60px 0;

}

.work-plus__row {
  display: flex;
  justify-content: space-between;

  &:nth-child(2) {
    margin-top: 45px;
  }

}

.work-plus__element {
  display: flex;

  & p {
    margin-left: 27px;
    max-width: 236px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;

  }

  & span {
    font-weight: 900;
  }

}

.work-plus__element_reverse {
  flex-flow: row-reverse;

  & p {
    margin: 0 27px 0 0;
    text-align: right;
  }
}

.work-plus__element-wrapper {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-plus__wrapper-img {
  width: 337px;
  height: 297px;
  position: absolute;
  top: -60px;
  right: 50%;
  transform: translate(50%);
}

.work-teach {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.work-teach__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.work-teach__element {
  display: flex;
  justify-content: center;
  padding: 26px 60px 53px 40px;
  background-color: #f7faf4;
  max-width: 542px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.work-teach__element-column {
  margin-left: 39px;
  display: flex;
  flex-flow: column;

}

.work-teach__element-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  max-width: 184px;
  width: 100%;
}

.work-teach__element-text {
  color: #4b465a;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: -0.17px;
  margin-top: 23px;

}

.work-teach__element-btn {
  margin-top: 23px;
  max-width: 164px;
  width: 100%;
  border-radius: 21px;
  padding: 10px 0;
  color: #96cd98;
  border: 1px solid #96cd98;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  transition: ease-in-out all 0.3s;

  &:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #96cd98;

  }
}

.work-teach__element_red {
  background-color: #fdf7f7;

  & .work-teach__element-btn {
    border: 1px solid #ecb5b9;
    color: #d25078;

    &:hover {
      cursor: pointer;
      color: #FFFFFF;
      background: #ecb5b9;

    }


  }

}

.work-teach__btn {
  margin-top: 38px;
  max-width: 256px;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: -0.36px;

}

.personal-account-block_work {
  background: unset;

  & .personal-account__text_manual-title-with-panda {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    max-width: 520px;
    width: 100%;
    color: #2c2c38;
  }

  & .personal-account__text_manual-text {
    font-size: 22px;
    max-width: 470px;
    width: 100%;
    line-height: 27px;
    letter-spacing: -0.22px;

  }
}

.work-video {
  display: flex;
  flex-flow: column;
  align-items: center;

  & .types-item_type2 {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & img {
      width: 918px;
      height: 464px;
    }
  }
}

.work-video__title {
  font-size: 55px;
  font-weight: 700;
  max-width: 600px;
  width: 100%;
  line-height: 60px;
  letter-spacing: -1.1px;
  text-align: center;

  & span {
    font-weight: 100;
  }
}

.work-team {
  margin-top: 77px;
  display: flex;
  flex-flow: column;
  align-items: center;

  & .start-element {
    max-width: 239px;
    width: 100%;
    align-items: start;

    &:nth-child(1) {
      max-width: 210px;
      & .start-element__text p:after {
        display: none;
      }



    }
  }
  & .start-element__text {
    font-size: 24px;
    letter-spacing: -0.48px;
    font-weight: 900;
    display: flex;
    position: relative;

    & :after {
      content: "";
      background: url("../images/content/work/work-team_arrow.svg") no-repeat center;
      background-size: contain;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 12px;
      left: -35px;

    }

    & p {
      margin-top: 3px;
      margin-left: 10px;
    }
    & span {
      color: #954090;
      font-size: 30px;
      font-weight: 900;
      margin-right: 10px;


    }

  }
  & .start-row {
    max-width: 1100px;
    margin-top: 64px;
    align-items: start;

  }

}
.work-team {
  .start-element__text_first:after{
    display: none;
  }
}

.work-team__title {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -1.1px;

}
.work-team__subtext {
  margin-top: 14px;
  font-size: 15px;
  line-height: 20px;
  color: #4b465a;
}
.work-team__img {
  margin-left: 44px;
}
.work-team__btn {
  margin-top: 57px;
  color: #FFFFFF;
  max-width: 446px;
  width: 100%;
  border-radius: 8px;
  background-color: #28aae1;
  padding: 20px 0;
  transition: ease-in-out all 0.3s;
  border: 2px solid #28aae1;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    background: transparent;
    color: #28aae1;

  }


}

//<!-- / Work -->